{%extends "base.html"%}
{%load staticfiles%}
{%block content%}
<!-- Page Heading-->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">{{page_title}}
             </h3>
        <div>
    <div>
<!-- Ends Heading-->
<!--Rows-->
    <div class = "row">
        {%for option in options%}
        <div class="col-md-3 portfolio-item">
            <a href="{{option.nome}}">
                <img class="img-responsive" src="/static/images/{{option.image_name}}" alt="{{option.name}}">
            </a>
            <div>
                <label>{{option.nome}}</label>
            </div>
        </div>
        {%endfor%}
    </div>
<!--END Rows-->

{%endblock%}
