{%extends "base.html"%}
{%load staticfiles%}
{%block content%}
    <!--Rows-->
    <div class = "row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active">
                    <a href="/cadastro/{{page_title}}/add" type="submit" class="btn btn-sm btn-warning">
                        <span class="glyphicon glyphicon-plus"></span></a>
                     {{page_title}}:
                </li>
                {%for result in result_set%}
                    {%if page_title == 'Despesas'%}
                        <a class="list-group-item" href={{result.pk}}>{{result}}
                        </a>
                    {%elif page_title == 'Transacoes'%}
                       <a class="list-group-item" href="{{result.pk}}">
                           {%if result.tipo_trans == 1%}
                               <span class="glyphicon glyphicon-minus debt"></span>
                           {%else%}
                               <span class="glyphicon glyphicon-plus cred"></span>
                           {%endif%}
                           {{result}} - {{result.data|date:'d/m/y'}}
                       </a>
                    {%endif%}
                {%endfor%}
            </ul>
        </div>
        {%if page_title == 'Transacoes'%}
        <div class="col-md-3 well well-sm my_well">
            {%if current_month%}
            <div>
                <h4 class="well well-sm well_title">Lançamentos até: {{current_date|date:'d/m/Y'}}</h4>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                        {%for month in current_month.keys%}
                            <th>{{month}}</th>
                        {%endfor%}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        {%for value in current_month.values%}    
                            {%if value < 0%}
                            <td class="negative_value">{{value}}</td>
                            {%else%}
                            <td>{{value}}</td>
                            {%endif%}
                        {%endfor%}
                        </tr>
                    </tbody>
                </table>
            </div>
            {%endif%}
            <h4 class="well well-sm well_title">Total Geral:</h4>
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                        {%for k in history.keys%}
                            <th>{{k}}</th>
                        {%endfor%}    
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {%for v in history.values%}
                            {%if v < 0%}
                            <td class="negative_value">{{v}}</td>
                            {%else%}
                            <td>{{v}}</td>
                            {%endif%}
                            {%endfor%}
                        </tr>
                    </tbody>
                </table>
            </div>

            {%if future_expenses%}
            <div>
                <h4 id="future_title" class="btn btn-block btn-warning" data-toggle="collapse" data-target="#future_trans" >
                    <span class="glyphicon glyphicon-menu-down" id="show_future_trans"> </span> Lançamentos Futuros: 
                </h4>
                <div id="future_trans" class="collapse">
                {%for key,value in future_expenses.items%}
                <h6 class="well well-sm well_title">{{key}}:</h6>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-condensed">
                        <thead>
                            <tr>
                            {%for header in value.keys%}
                                <th id="future_header">{{header}}</th>
                            {%endfor%}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            {%for content in value.values%}
                                <td>{{content}}</td>
                            {%endfor%}
                            </tr>
                        </tbody>
                    </table>
                </div>
                {%endfor%}
                </div>
            </div>
            {%endif%}
        </div>
        {%endif%}
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active">Navegue por datas</li>
            {%for key, value in years_list.items%}
            <a class="list-group-item" data-toggle="collapse" data-target="#months{{forloop.counter}}">
                {{key}}
            </a>
            <ul class="list-group collapse" id="months{{forloop.counter}}">
                {%for val in value%}
                <a href="{%url 'mainmenu:transacao' val|date:'Y' val|date:'m' %}" class="list-group-item" id="month_list">
                    {{val|date:'F' }}
                </a>
                {%endfor%}    
                </ul>
            {%endfor%}
            </ul>
        </div>
    </div>
<!--END Rows-->
{%endblock%}
